certifi==2017.4.17
chardet==3.0.4
Django==1.10.6
django-grappelli==2.10.1
django-mathfilters==0.4.0
django-smtp-ssl==1.0
idna==2.5
mysqlclient==2.0.1
olefile==0.44
Pillow==9.0.1
requests==2.18.2
urllib3==1.22
