/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  padding-left: 5px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Glyphicons Halflings';
  line-height: 1;
}

a.asc:after {
  content: "\e151";
}

a.desc:after {
  content: "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.column-id {
  width: 40px;
}

.column-datetime {
  width: 130px;
}

.column-title,
.column-image {
  width: 25%;
}

.redactor-editor,
.column-content {
  img {
    width: 300px;
    padding: 0;
    &.pull-left {
      margin: 0 10px 0 0;
    }
    &.pull-right {
      margin: 0 0 0 10px;
    }
    &.pull-none {
      margin: 0 0 10px 0;
    }
  }
}

.page-event-admin {
  .column-description {
    width: 25%;
  }
}

.page-info-admin {
  .column-description {
    width: 50%;
  }
}

.column-image {
  &,
  & img {
    width: 200px;
  }
}

.column-tools {
  width: 20px;
}
