
.send-message-form {
  background-color: #c3c3c3;
  font-family: GothamProMedium, sans-serif;
  margin-left: 30px;
  position: absolute;
  top: 21px;
  width: 250px;
  @media (max-width: $screen-xs) {
    width:100% ;
    margin-left: 0;
    top:61px;
  }
  @media (max-width: $screen-md) {
    top:61px;
  }
  &.opened{
    background: transparent;
     a, .floating_send_messages{
       display: none!important;
     }
  }
  a {
    color: black;
    display: inline-block;
    font-size: 10px;
    line-height: 40px;
    padding: 0 20px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    background: url("../images/bg-toggle-send-message-form-button.png");
    @include image-2x-repeat("../images/bg-toggle-send-message-form-button@2x.png", 40px, 250px);
  }
  .floating_send_messages{
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: -60px;
    left: -90px;
    font-size: 40px;
    border-radius: 50%;
    background-color: #c3c3c3;
    color: #fff;
    text-transform: inherit;
    padding: 0;
  }
  form {
    .form_descripirion{
      padding: 40px 0;
      font-size: 9px;
      min-height: 115px;
      background-color: rgba(255,255,255, 0.8);

    }
    padding-bottom: 15px;
    .form-group {
      //padding: 0 20px;
      margin-bottom: 0;
      border-bottom: 1px solid #d5cdc2;
      input,
      textarea {
        @include placeholder(50px);
        padding-left: 20px;
        background-color: rgba(255,255,255, 0.9);
        border-radius: 0;
        border: none;
        font-size: 12px;
        min-height: 60px;
      }
    }
    .btn-default {
      line-height: 40px;
      background: none;
      border-radius: 0;
      border: none;
      font-size: 12px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: left;
      text-transform: uppercase;
      width: 100%;
      background-color: #bfbdbb;
    }
  }
}
